/client/node_modules/
/api/config.js
/simple-server.go
/convolvr.exe
/convolvr.exe~
/convolvr
/web/js/app.js
_out
*.pem
*.key
*.exe
world.db
world.db.lock
/cmd/cmd
/cmd/cmd.exe
/web/data/*
!/web/data/public
/web/data/public/*
!/web/data/public/chat-uploads
!/web/data/public/thumbs
/web/data/public/chat-uploads/*
!/web/data/public/chat-uploads/thumbs
/web/data/public/chat-uploads/thumbs/*.*
/web/data/public/thumbs/*.*
/web/user/*
!/web/user/public
/web/user/public/*
!/web/user/public/chat-uploads
!/web/user/public/thumbs
/web/user/public/chat-uploads/*
!/web/user/public/chat-uploads/thumbs
/web/user/public/chat-uploads/thumbs/*.*
/web/user/public/thumbs/*.*
.vscode
/.vscode