/client/node_modules/
/client/lib/
/api/config.js
/simple-server.go
/convolvr.exe
/convolvr.exe~
/convolvr
/dist/*.js
/client/web/js/workers/*
/client/web/js/bundle.js
/client/web/js/bundle.js.map
_out
*.pem
*.key
*.exe
world.db
world.db.lock
/cmd/cmd*
/client/web/data/*
!/client/web/data/public
/client/web/data/public/*
!/client/web/data/public/chat-uploads
!/client/web/data/public/thumbs
/client/web/data/public/chat-uploads/*
!/client/web/data/public/chat-uploads/thumbs
/client/web/data/public/chat-uploads/thumbs/*.*
/client/web/data/public/thumbs/*.*
/client/web/user/*
!/client/web/user/public
/client/web/user/public/*
!/client/web/user/public/chat-uploads
!/client/web/user/public/thumbs
/client/web/user/public/chat-uploads/*
!/client/web/user/public/chat-uploads/thumbs
/client/web/user/public/chat-uploads/thumbs/*.*
/client/web/user/public/thumbs/*.*
.vscode
/.vscode