/* app.css */
#root {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  min-width: 7.5vh;
  min-height: 7.5vh;
  border-top-left-radius: 4px;
}
.root {
    position: fixed;
}
#viewport {
    cursor: pointer;
    width: 100% !important;
    height: 100% !important;
}
#webcam-canvas {
    display: none;
}
#webcam {
    display: none;
}
.hud {
    min-width: 60px;
    min-height: 60px;
    z-index: 999999;
    position: relative;
}
.hud .menu-open {
    background-color: rgba(0,0,0,0.1);
}
.hud .button {
  margin-right: 0;
}
.shell {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-width: 374px;
  display: inline-block;
  border-radius: 0.8vh;
}
.shell > div.inner {

}
.tabs {
  height: 10vh;
  width: 100vw;
  border-top-left-radius: 0.6vh;
  border-top-right-radius: 0.6vh;
}
.tab {
  height: 8vh;
  color: rgba(255,255,255,0.92);
  width: 7.5vh;
  font-size: 15px;
  display: inline-block;
  margin-top: 0.5vh;
}
.tab .button {
  display: inline-block;
  width: 7.5vh;
  height: 7.5vh;
  margin-right: 0;
}
.tab .button .inner {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
}


.side-menu {
  width: 100%;
  padding-top: 0.75vh;
}
.menu-item {
    display: inline-block;
    height: 3vh;
    margin-left: 0.25em;
    min-height: 48px;
    width: 100%;
}
.menu-item span {
    position: relative;
    top: 2.2vh;
    color: rgba(255,255,255,0.94);
    padding-left: 1em;
    cursor: pointer;
    display: inline-block;
}
.icon {
    height: 4vh;
    width: 4vh;
    display: inline-block;
}
.button {
    display: inline-block;
    width: 5.5vh;
    height: 5.5vh;
    float: right;
    margin-right: 0.5em;
}
.button .inner {
    transition: all 0.2s linear;
    background-size: contain;
    height: 5vh;
    width: 5vh;
    display: block;
    opacity: 0.8;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}
.options-button {
  float: left;
}
.menu-item .button .inner {
    right: 0.5em;
}
.menu-item span {
    opacity: 0.7;
}
.menu-item:hover .button .inner {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    cursor:pointer;
}
.tab:hover .button .inner {
    opacity: 1;
}
.menu-item:hover span {
    opacity: 1;
}
.overview {

}
@media screen and (max-width: 1024px) {

}
.shell {
  min-width: 374px;
}
.shell > div.inner {
  top: 9vh;
  left:0;
}
.crosshair {
    position: fixed;
    width: 0px;
    height: 32px;
    top:48vh;
    left: 50%;
}

.crosshair .inner {
    width: 3vh;
    height: 3vh;
    position: relative;
    left: -0.5vh;
    top: -0.5vh;
    background-image:url(/data/crosshair.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
