/* app.css */
@font-face {
  font-family: 'droid_sans_monoregular';
  /* src: url(/data/fonts/Roboto-Light.ttf); */
  src: url(/data/fonts/DroidSansMono-webfont.ttf);
}
body {
  font-family: droid_sans_monoregular, sans-serif, monospace;
}
a, a:visited {
    color: #00e200
}
.table td {
    padding: '0.5em'
}
#root {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 7.5vh;
  height: 7.5vh;
  max-width: 72px;
  max-height: 72px;
  border-top-left-radius: 4px;
}
.root {
    position: fixed;
}
.viewport {
    cursor: pointer;
    -webkit-transition: filter 0.3s linear;
    transition: filter 0.3s linear;
    width: 100% !important;
    height: 100% !important;
}
#webcam-canvas {
    display: none;
}
#webcam {
    display: none;
}
.hud {
    min-width: 60px;
    min-height: 60px;
    top: 12px;
    z-index: 999999;
    position: relative;
}
.hud .menu-open {
    background-color: rgba(0,0,0,0.1);
}
.hud .button {
  margin-right: 0;
}

.blurred {
    -webkit-filter: blur(6px); 
    filter: blur(3px);
}

.menu-item:hover .button .inner {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    cursor:pointer;
}
.tab:hover .button .inner {
    opacity: 1;
}
.menu-item:hover span {
    opacity: 1;
}

.shell > div.inner {
  top: 9vh;
  left:0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
    padding-top: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    margin-top: 12px;
    background-color: rgba(255,255,255,0.66);
}