/* app.css */
@font-face {
  font-family: RobotoLight;
  src: url(/static/fonts/Roboto-Light.ttf);
}
body {
  font-family: RobotoLight, sans-serif;
}
#root {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 7.5vh;
  height: 7.5vh;
  max-width: 72px;
  max-height: 72px;
  border-top-left-radius: 4px;
}
.root {
    position: fixed;
}
.viewport {
    cursor: pointer;
    width: 100% !important;
    height: 100% !important;
}
#webcam-canvas {
    display: none;
}
#webcam {
    display: none;
}
.hud {
    min-width: 60px;
    min-height: 60px;
    z-index: 999999;
    position: relative;
}
.hud .menu-open {
    background-color: rgba(0,0,0,0.1);
}
.hud .button {
  margin-right: 0;
}
.tab {
  height: 8vh;
  color: rgba(255,255,255,0.92);
  width: 7.5vh;
  font-size: 15px;
  display: inline-block;
  margin-top: 0.5vh;
}
.tab .button {
  display: inline-block;
  width: 7.5vh;
  height: 7.5vh;
  margin-right: 0;
}
.tab .button .inner {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
}


.side-menu {
  width: 100%;
  padding-top: 0.75vh;
}
.menu-item {
    display: inline-block;
    height: 3vh;
    margin-left: 0.25em;
    min-height: 48px;
    width: 100%;
}
.menu-item span {
    position: relative;
    top: 2.2vh;
    color: rgba(255,255,255,0.94);
    padding-left: 1em;
    cursor: pointer;
    display: inline-block;
}
.icon {
    height: 4vh;
    width: 4vh;
    display: inline-block;
}
.button {
    display: inline-block;
    width: 5.5vh;
    height: 5.5vh;
    float: right;
    margin-right: 0.5em;
}
.button .inner {
    transition: all 0.2s linear;
    background-size: contain;
    height: 5vh;
    width: 5vh;
    display: block;
    opacity: 0.8;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}
.options-button {
  float: left;
}
.menu-item .button .inner {
    right: 0.5em;
}
.menu-item span {
    opacity: 0.7;
}
.menu-item:hover .button .inner {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    cursor:pointer;
}
.tab:hover .button .inner {
    opacity: 1;
}
.menu-item:hover span {
    opacity: 1;
}
.overview {

}
@media screen and (max-width: 1024px) {

}
.shell > div.inner {
  top: 9vh;
  left:0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
    padding-top: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    margin-top: 12px;
    background-color: rgba(255,255,255,0.66);
}
